@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Pokemon Pixel";
	src: url("/src/assets/fonts/pokemon_pixel_font.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
